doctype html
html(lang="es")
	head
		//- META
		meta(name="author", content="{innCode}")
		block META
			meta(name="description", content="Galería responsive, bonita y automática a la de YA! Plugin JS para crear una galería de forma casi instantanea en tu web.")
			link(rel="canonical" href="https://edgravill.github.io/galyrian/")
		//----------
		//- OPEN GRAPH
		meta(property="op:markup_version", content="v1.0")
		meta(property="og:url", content="https://edgravill.github.io/galyrian/img/sharing.png")
		meta(property="og:title", content="Galyrian - Una Galería para todos ❤")
		meta(property="og:description", content="Galería responsive, bonita y automática a la de YA! Plugin JS para crear una galería de forma casi instantanea en tu web.")
		meta(property="og:image", content="https://edgravill.github.io/galyrian/img/cover-bw.png")
		meta(property="og:site_name", content="Galyrian")
		meta(property="fb:app_id", content="269112586805006")
		meta(property="og:type", content="website")
		meta(property="og:locale", content="es_MX")
		//----------
		//- ÍCONOS
		link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
		link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
		link(rel="icon", type="image/png", href="/favicon-194x194.png", sizes="194x194")
		link(rel="icon", type="image/png", href="/android-chrome-192x192.png", sizes="192x192")
		link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
		link(rel="manifest", href="/manifest.json")
		link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
		meta(name="apple-mobile-web-app-title", content="Galyrian")
		meta(name="application-name", content="Galyrian")
		meta(name="msapplication-TileColor", content="#ecf0f1")
		meta(name="msapplication-TileImage", content="/mstile-144x144.png")
		meta(name="theme-color", content="#ecf0f1")
		//----------
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title Galyrian - Una Galería para todos ❤
		block CSS
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/main.min.css")
	body
		script.
			window.fbAsyncInit = function() {
				FB.init({
					appId      : '269112586805006',
					xfbml      : true,
					version    : 'v2.7'
				});
			};
			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		block BODY
		script(type="text/javascript", src="js/main.min.js", async)
		block JS